@import url("variables.css");
@import url("header.css");
@import url("footer.css");
/*=============== HOME ===============*/


.home__title {
  display: inline-block;
  min-height: 80px; /* ajusta conforme teu layout */
  height: 110px;
}

.home__title .highlight {
  color: var(--first-color); /* tua cor do span */
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.home__container {
  padding: 1.5rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
  display: grid;
  row-gap: 3rem;
  margin-top: 7rem;
  
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 0.5rem;
  
  
}

.home__description {
  margin-bottom: 2rem;
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.home__link {
  width: 40px;
  height: 40px;
  background-color: var(--container-color);
  box-shadow: var(--shadow-small);
  border-radius: 0.75rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--title-color);
  transition:
    background-color 0.4s,
    box-shadow 0.4s,
    color.4s;
}

.home__link:hover {
  background-color: var(--first-color);
  box-shadow: 0 4px 8px var(--shadow-first-color);
}

.home__image {
  position: relative;
  width: 320px;
  height: 320px;
  background: var(--gradient-color);
  border-radius: 6rem;
  justify-self: center;
  margin-top: 3rem;
}

.home__img {
  position: absolute;
  width: 230px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  mask-image: linear-gradient(var(--first-color), 80%, transparent 95%);
  filter: var(--shadow-img-big);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px var(--shadow-first-color);
  transition:
    background-color 0.4s,
    color.4s;
}

button:hover {
  background-color: var(--first-color-alt);
}

/*=============== SERVICE ===============*/
.service__container {
  grid-template-columns: 220px;
  justify-content: center;
  row-gap: 2rem;
}

.service__card {
  text-align: center;
}

.service__img {
  width: 150px;
  margin: 0 auto 1.5rem;
}

.service__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

/*=============== PROJECTS ===============*/
.projects__card {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 2rem;
}

/* .projects__image{
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
} */

.projects__img {
  transition: transform 0.4s;
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.projects__name {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.projects__description {
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.projects__skill {
  width: 1rem;
  transition: transform 0.4s;
}

.projects__skill:hover {
  transform: translateY(-0.25rem);
}

.projects__skills {
  width: max-content;
  height: 34px;
  background-color: var(--black-color);
  padding-inline: 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  border-radius: 4rem;
  margin-bottom: 1.5rem;
}

.projects__button {
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.4s;
}

.projects__button i {
  font-size: 1.25rem;
}

.projects__button span {
  color: var(--text-color);
  font-weight: 600;
}

.projects__button:hover {
  color: var(--text-color);
  font-weight: 700;
}

.projects__card:hover .projects__img {
  transform: scale(1.2);
}

/*=============== SERVICES ===============*/
.services__card {
  background-color: var(--container-color);
  padding: 4rem 1.5rem 3.5rem 1.5rem;
  border-radius: 2rem;
}

.services__icon {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}

.services__icon i {
  font-size: 2.5rem;
  position: relative;
  z-index: var(--z-tooltip);
}

.services__circle {
  width: 3rem;
  height: 3rem;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  transition: transform 0.4s;
}

.services__name {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.services__description {
  color: var(--text-color);
}

.services__card:hover .services__circle {
  transform: translate(0.25rem, -0.25rem);
}

/*=============== REVIEWS ===============*/
.reviews__container {
  row-gap: 6rem;
}

.reviews__content {
  display: grid;
}

.reviews__swiper {
  margin-inline: initial;
  padding-bottom: 6rem;
}

.reviews__card {
  display: grid;
  row-gap: 1rem;
}

.reviews__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.reviews__photo {
  width: 60px;
  clip-path: circle(50%);
}

.reviews__data {
  display: grid;
  row-gap: 0.25rem;
}

.reviews__name,
.reviews__number {
  font-size: var(--h3-font-size);
}

.reviews__rating {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.reviews__stars {
  display: flex;
  column-gap: 0.25rem;
}

.reviews__stars i {
  font-size: 1rem;
  color: var(--first-color);
}

.reviews__comment {
  position: relative;
  width: 280px;
  justify-self: center;
  text-align: center;
}

.reviews__comment::before {
  content: open-quote;
  position: absolute;
  left: -1rem;
  top: -0.5rem;
}

.reviews__comment::after {
  content: close-quote;
  position: absolute;
  right: -1rem;
  bottom: -2rem;
}

.reviews__comment::after,
.reviews__comment::before {
  font-size: 2.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.reviews__image {
  position: relative;
  width: 320px;
  height: 320px;
  background: var(--gradient-color);
  border-radius: 6rem;
  justify-self: center;
}

.reviews__img {
  width: 270px;
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 0;
  margin: 0 auto;
  mask-image: linear-gradient(var(--first-color), 80%, transparent 95%);
  filter: var(--shadow-img-big);
}

/* Swiper class */
.reviews .swiper-navigation-icon {
  display: none;
}

.reviews :is(.swiper-button-prev, .swiper-button-next) {
  top: initial;
  bottom: 1.5rem;
  width: 40px;
  height: 40px;
  background-color: var(--container-color);
  box-shadow: var(--shadow-small);
  color: var(--title-color);
  border-radius: 0.75rem;
  font-size: 1.5rem;
  transition:
    background-color 0.4s,
    box-shadow 0.4s,
    color 0.4s;
}

.reviews :is(.swiper-button-prev, .swiper-button-next):hover {
  background-color: var(--first-color);
  box-shadow: 0 4px 8px var(--shadow-first-color);
}

.reviews .swiper-button-prev {
  left: calc(50% - 3rem);
}

.reviews .swiper-button-next {
  right: calc(50% - 3rem);
}

/*=============== CONTACT ===============*/
.contact__button {
  width: max-content;
  justify-self: center;
}
.contact__group,
.contact__form {
  gap: 1rem;
}

.contact__form {
  position: relative;
}

.contact__input {
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 4rem;
  color: var(--text-color);
}

.contact__input::placeholder {
  color: var(--text-color);
}

.contact__input:autofill {
  transition:
    background-color 6000s,
    color 6000s;
}

.contact__area {
  height: 10rem;
  border-radius: 1.5rem;
  resize: none;
}

.contact__button {
  margin-top: 1.5rem;
  cursor: pointer;
}

.contact__message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--smaller-font-size);
}
/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.2);
  color: var(--title-color);
  display: inline-flex;
  padding: 16px;
  font-size: 1.25rem;
  border-radius: 0.35rem;
  z-index: var(--z-tooltip);
  transition:
    bottom 0.4s,
    transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .container {
    margin-inline: 1rem;
  }

  .reviews__image,
  .home__image,
  .map__area {
    width: 100%;
  }

  .menu__container {
    grid-template-columns: 180px;
    justify-content: center;
  }

  .reviews__container {
    row-gap: 4rem;
  }

  .reviews__img {
    left: 1rem;
  }

  .reviews__comment {
    width: 85%;
  }

  .footer__social {
    grid-column: 1;
  }

  .footer__content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .nav__menu {
    width: 50%;
  }

  .service__container,
  .home__container {
    grid-template-columns: 380px;
    justify-content: center;
  }

  .menu__container {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
  }

  .projects__container,
  .services__container,
  .contact__container {
    grid-template-columns: 380px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .service__container {
    grid-template-columns: repeat(2, 220px);
  }

  .menu__container {
    grid-template-columns: repeat(3, 180px);
    justify-content: center;
  }

  .footer__social {
    grid-column: initial;
  }

  .footer__content {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer__link:nth-child(1) {
    justify-self: start;
  }

  .footer__link:nth-child(2) {
    order: 2;
    justify-self: end;
  }

  .projects__container,
  .services__container {
    grid-template-columns: repeat(2, 350px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .projects__container {
    grid-template-columns: repeat(3, 368px);
    gap: 2rem;
  }

  .projects__card {
    padding-bottom: 2rem;
  }

  .services__container {
    grid-template-columns: repeat(3, 368px);
    gap: 2rem;
  }

  .services__card {
    padding-block: 6rem, 5rem;
  }

  .services__icon i {
    font-size: 3.5rem;
  }

  .services__circle {
    width: 4rem;
    height: 4rem;
    right: -1.5rem;
    top: -1.5rem;
  }

 
  .section__title {
    margin-bottom: 3.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__theme {
    position: initial;
    font-size: 1.5rem;
  }

  .nav__menu {
    width: initial;
    display: flex;
    column-gap: 4rem;
    align-items: center;
  }

  .home__container {
    grid-template-columns: 500px 520px;
    align-items: center;
    column-gap: 5rem;
    padding-block: 4rem;
  }

  .home__data {
    text-align: initial;
    row-gap: 5rem;
  }

  .home__title {
    margin-bottom: 1rem;
    height: 180px;
  }

  .home__description {
    font-size: var(--h3-font-size);
    margin-bottom: 3rem;
  }

  .home__social {
    justify-content: initial;
  }

  .home__image {
    width: 520px;
    height: 520px;
    border-radius: 11rem;
  }

  .home__img {
    width: 380px;
  }

  .service__container {
    grid-template-columns: repeat(3, 220px);
    column-gap: 10rem;
  }

  .service__img {
    width: 180px;
    margin-bottom: 2rem;
  }

  .menu__container {
    grid-template-columns: repeat(4, 260px);
    row-gap: 2rem;
  }

  .menu__card {
    padding: 1rem 1.5rem 2rem;
    border-radius: 2rem;
  }

  .menu__img {
    width: 160px;
  }

  .menu__name,
  .menu__price {
    font-size: var(--h2-font-size);
  }

  .menu__amount {
    font-size: var(--normal-font-size);
    margin-block: 0.5rem 1rem;
  }

  .menu__button {
    right: 1.5rem;
    bottom: 2rem;
    width: 48px;
    height: 48px;
    border-radius: 1rem;
    font-size: 2rem;
  }

  .reviews__container {
    grid-template-columns: 450px 560px;
    column-gap: 5rem;
    padding-block: 7rem 3rem;
  }

  .reviews__image {
    width: 450px;
    height: 450px;
    border-radius: 9rem;
    order: -1;
  }

  .reviews__img {
    width: 380px;
  }

  .reviews__content :is(.section__title) {
    text-align: initial;
  }

  .reviews__content {
    padding-bottom: 8rem;
  }

  .reviews__card {
    row-gap: 3rem;
  }

  .reviews__profile {
    justify-content: initial;
    column-gap: 1rem;
  }

  .reviews__photo {
    width: 80px;
  }

  .reviews__data {
    row-gap: 0.5rem;
  }

  .reviews__comment {
    width: 450px;
    text-align: initial;
  }

  .reviews__comment::after,
  .reviews__comment::before {
    font-size: 5rem;
  }

  .reviews__comment::before {
    top: -1.5rem;
    left: -3.5rem;
  }

  .reviews__comment::after {
    bottom: -3.5rem;
    right: -3rem;
  }

  .reviews .swiper-button-prev {
    left: 1rem;
  }

  .reviews .swiper-button-next {
    left: 4rem;
  }

  .map__container {
    grid-template-columns: 450px 400px;
    justify-content: center;
    align-items: center;
    column-gap: 6.5rem;
    padding-bottom: 5rem;
  }

  .map__area {
    width: 450px;
    height: 450px;
    border-radius: 9rem;
  }

  .map__content {
    grid-template-columns: repeat(2, max-content);
    gap: 4rem 5rem;
  }

  .footer {
    padding-block: 5rem 3rem;
  }

  .footer__container {
    row-gap: 3.5rem;
  }
  .contact__container {
    grid-template-columns: 620px;
  }

  .contact__group {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__area {
    height: 15rem;
  }

  .contact__button {
    width: max-content;
    justify-self: center;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
